

  <div class="col-md-12 ribbon">
  <div class="row">
    <div class="col-md-1">
          <p class="invisible">updated space</p>
     </div>
     
     <div class="col-md-11">
     
         <p class="title-post"><%= link_to micropost.title, micropost_path(micropost) %> </p>
      </div>
  </div>
  <div class="row">
   <% if micropost.picture? %>
      <div class="col-md-1">
     </div>
     
        
      <div id="photo" class="col-md-3">

          <div class="sm-logo">
                  <%= image_tag micropost.picture.url(:thumb) if micropost.picture? %>
          </div>
      </div>
           
      <div class="col-md-7">
          
               <div class="color-fix">
                <%= truncate_html micropost.body, :length => 200, :omission => '...(continued)', :class => "color-fix" %>
                
                </div>
                <h6>
                <span class="timestamp">
                  Posted <%= time_ago_in_words(micropost.created_at) %> ago.
                </span>
                </h6>
                <h6>
                <% if admin? %>
                  <%= link_to 'Edit', edit_micropost_path(micropost), :class => "btn btn-primary btn-sm button active" %>
                  <%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-sm button active" %>
                  <% else %>
                    <%= link_to 'Edit', edit_micropost_path(micropost), :class => "btn btn-primary btn-sm button active invisible" %>
                  <%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-sm button active invisible" %>
                  <% end %>
                  </h6>
                  <div class="body-box">
                  </div>
           </div> 
        <% else %> 
         <div class="col-md-1">
     </div>
         <div class="col-md-10">
          
              <div class="color-fix">
                <%= truncate_html micropost.body, :length => 200, :omission => '...(continued)', :class => "color-fix" %>
                
                </div>
                <h6>
                <span class="timestamp">
                  Posted <%= time_ago_in_words(micropost.created_at) %> ago.
                </span>
                </h6>
                <h6>
                <% if admin? %>
                  <%= link_to 'Edit', edit_micropost_path(micropost), :class => "btn btn-primary btn-sm button active" %>
                  <%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-sm button active" %>
                  <% else %>
                    <%= link_to 'Edit', edit_micropost_path(micropost), :class => "btn btn-primary btn-sm button active invisible" %>
                  <%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-sm button active invisible" %>
                  <% end %>
                  </h6>
                   <div class="body-box">
                  </div>
           </div> 
           <% end %>
     <div class="col-md-1">
     </div>
     </div>
</div>





