

<div class="container">

<div class="row">



 <div class="title">
    
   <h1>	 <%= @micropost.title %> </h1>
  </div>


  <span class="picture">
    <%= image_tag @micropost.picture.url if @micropost.picture? %><br>

  <span class="content">
    <%= @micropost.body %>
  </span>
  


<br>
<%= link_to 'Edit', edit_micropost_path(@micropost) %>
<br>
<%= link_to "<< Back to Articles List", root_url %>

</div>
</div>
