

	

<% provide(:title, @micropost.title) %>


<div class="container">

<div class="row">
	<div class="col-md-2">
	</div>
	 <div class="col-md-8">
	 <div>
	 		<h0 id="head" name="head"></h0>
	    	<p class="title-idea"><%= @micropost.title %></p>
	</div>
	<div>
	<%= social_share_button_tag(@micropost.title, :url => url_for(:only_path => false)) %>

	</div>

	<div><%= @micropost.type_micro %></div>
			   
  	<div class="picture-post">
		<% if @micropost.picture? %>
		 <%= image_tag @micropost.picture.url %>
		 <% end %>
		 
	</div>

	<div>
		
		 <%= @micropost %>
		
		 
	</div>

	<div>
	  <span class="body-post">
	   <%= @micropost.body.html_safe %>
	  </span>
	  <div>
	    <% if @micropost.comments.count > 0 %>
	  	<p id="comment" name="comment" class="title-comment">Comments</p>
	  </div>
	  <div>	
	
		<%= render @micropost.comments %>
		<% end %>
	  </div>
	  <div>
	  		
	  			<p id="commentAdd" name="commentAdd" ></p>
	  			<% flash.each do |key, value| %>
        		<div class="alert alert-<%= key %>"><%= value %></div>
        		<% end %>
				

	  </div>
	  <div>

			<%= render 'comments/form' %>
	  </div>
  	<div class="col-md-2">
 	</div>
</div>
</div>
</div>
<div class="row">
<div class="ribbon">
	<div class="col-md-2">
	</div>
	<div class="col-md-10">
			       <% if logged_in? %>
					<%= link_to 'Edit', edit_micropost_path(@micropost), :class => "btn btn-primary btn-sm button active" %>
					<% end %>
					<%= link_to 'Back to Ideas', root_url, :class => "btn btn-primary btn-sm button active" %>
	</div>
</div>
</div>
</div>

