<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="Ideas" content="<%= content_for?(:description) ? yield(:description) : "Learn Rails" %>">

  <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= render 'layouts/shim' %>

</head>
<body>
<header>
<%= render 'layouts/header' %>

</header>
<div class="container">
<div class="row">
<div>
 <%= render 'layouts/banner' %>
</div>
<div>
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
</div>
<main role="main">


              <%= yield %>

</main>
<div id="imageribbon">
               
        <% cache ("flickr_sidebar") do %>
<%= render_flickr_sidebar_widget('138220357@N03') %>
                <% end %>


               

</div>
<div>
  <%= render 'layouts/project' %>
</div>
<footer>
   
    
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
</footer>
</body>
</html>
